# Python environment files
__pycache__/
venv/
.env

# Flask/Gunicorn files
*.pyc

# Operating System Files
.DS_Store

# Critical: Keep your Gemini API Key SAFE!
.gemini.key

*.pptx

users.db
__pycache__/
.env
records.html
encylopedia.html